.details-div ul{
    color: rgb(255, 0, 255);
}
.details-div ul li {
    margin-bottom: 13px;
    padding: 2px;
}
.details-div .d-title{
    /* font-family: "Playwrite AU QLD", cursive; */
    font-weight: bold;
}
.skill-list{
    padding:25px 36px;
    background-color: rgba(255, 1, 255, 0.306);
    border:1px solid rgb(255, 0, 255);
}
.skill-list li{
    color: white;
   /* height: 40px; */
   border-bottom: 1px solid rgb(255, 0, 255);
   list-style: none;
   word-wrap: normal;
   padding: 1rem 0;
   
}